body, html {
    height: 100%;
}





body {
    height: 100%;
    background: #FFF;
    color: black;
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

p {
    margin: 30px;
}




